<%content_for :content_header do%>
	<%= devise_error_messages! %>
<%end%>

<%content_for :content_page do%>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,:class => 'form-horizontal' }) do |f| %>
		<section class="content">
		      <div class="row">
		        <div class="col-sm-6">
		          <div class="nav-tabs-custom">
		            <ul class="nav nav-tabs">
		              <li class="active"><a href="#personal_information" data-toggle="tab">Personal Information</a></li>
		              <li><a href="#user_credentials" data-toggle="tab">User Credentials</a></li>
		              <li><a href="#permanent_residence_status" data-toggle="tab">Permanent Residence Status</a></li>
		            </ul>
		            
			            <div class="tab-content">
			            	<!--   Personal Information Pane-->
					              <div class="active tab-pane" id="personal_information">
					                <!--   Personal Information -->
						                  <div class="form-group has-feedback">
						                    <label for="inputGivenName" class="col-sm-3 control-label">Given Name</label>
											<div class="col-sm-9">
											    <%= f.text_field :given_name, autofocus: true, class: "form-control", placeholder: "Given Name" %>
											</div>				                    
						                  </div>
		
						                  <div class="form-group has-feedback">
						                    <label for="inputFamilyName" class="col-sm-3 control-label">Family Name</label>
											<div class="col-sm-9">
											    <%= f.text_field :family_name, autofocus: true, class: "form-control", placeholder: "Family Name" %>
											</div>				                    
						                  </div>
		
						                  <div class="form-group has-feedback">
						                    <label for="inputGender" class="col-sm-3 control-label">Gender</label>
											<div class="col-sm-9">
											    <%= f.text_field :gender, autofocus: true, class: "form-control", placeholder: "Gender" %>
											</div>				                    
						                  </div>
						                  
						                  <div class="form-group has-feedback">
						                    <label for="inputNationality" class="col-sm-3 control-label">Nationality</label>
											<div class="col-sm-9">
											    <%= f.text_field :nationality, autofocus: true, class: "form-control", placeholder: "Nationality" %>
											</div>				                    
						                  </div>
						                  				                  
						                  <div class="form-group has-feedback">
						                    <label for="inputMobilePhone" class="col-sm-3 control-label">Mobile Phone</label>
											<div class="col-sm-9">
											    <%= f.text_field :mobile_phone, autofocus: true, class: "form-control", placeholder: "Mobile Phone" %>
											    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
											</div>				                    
						                  </div>
		
						                  <div class="form-group has-feedback">
						                    <label for="inputHomePhone" class="col-sm-3 control-label">Home Phone</label>
											<div class="col-sm-9">
											    <%= f.text_field :home_phone, autofocus: true, class: "form-control", placeholder: "Home Phone" %>
											    <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
											</div>				                    
						                  </div>
						                  <div style="height: 5px;"></div>
						                  
					                <!-- /.Personal Information -->
					                
					              </div>
			              	<!--   /.Personal Information Pane-->
			              
							<!--   User Credentials Pane-->
					              <div class="tab-pane" id="user_credentials">
					              	<!-- User Credentials -->	
						                  <div class="form-group has-feedback">
						                    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
											<div class="col-sm-9">
											    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
											    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
											</div>
						                  </div>
						                  
						                  <div class="form-group has-feedback">
						                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
											<div class="col-sm-9">
											    <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "Password" %>
											    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
											    <i>(leave blank if you don't want to change it)</i>
											</div>
						                  </div>
						                  
						                  <div class="form-group has-feedback">
						                    <label for="inputPasswordConfirmation" class="col-sm-3 control-label">Confirm</label>
											<div class="col-sm-9">
											    <%= f.password_field :password_confirmation, autofocus: true, class: "form-control", placeholder: "Confirm password" %>
							                </div>
							              </div>  
							                  
						                  <div style="height: 5px;"></div>
					                <!-- /.User Credentials -->
					              </div>				
							<!--   /.User Credentials Pane-->
							
							<!--   Permanent Residence Status Pane-->
					              <div class="tab-pane" id="permanent_residence_status">
					              	<!-- Permanent Residence Status -->	
					              <div class="active tab-pane" id="personal_information">
					                <!--   Permanent Residence Status -->
						                  <div class="form-group has-feedback">
						                    <label for="inputCountry" class="col-sm-3 control-label">Origin Country</label>
											<div class="col-sm-9">
											    <%= f.text_field :country, autofocus: true, class: "form-control", placeholder: "Country" %>
											    <span class="glyphicon glyphicon-plane form-control-feedback"></span>
											</div>				                    
						                  </div>			                
						                  <div class="form-group has-feedback">
						                    <label for="inputPortOfEntry" class="col-sm-3 control-label">Port of Entry</label>
											<div class="col-sm-9">
											    <%= f.text_field :port_of_entry, autofocus: true, class: "form-control", placeholder: "Port of Entry" %>
											</div>				                    
						                  </div>
		
						                  <div class="form-group has-feedback">
						                    <label for="inputPRDate" class="col-sm-3 control-label">PR Date</label>
											<div class="col-sm-9">
											    <%= f.date_field :pr_date, autofocus: true, class: "form-control", placeholder: "PR Date" %>
											</div>				                    
						                  </div>
						                  <div class="form-group has-feedback">
						                    <label for="inputAddress" class="col-sm-3 control-label">Address</label>
											<div class="col-sm-9">
											    <%= f.text_field :address, autofocus: true, class: "form-control", placeholder: "Address" %>
											    <span class="glyphicon glyphicon-home form-control-feedback"></span>
											</div>				                    
						                  </div>
		
						                  <div class="form-group has-feedback">
						                    <label for="inputCity" class="col-sm-3 control-label">City</label>
											<div class="col-sm-9">
											    <%= f.text_field :city, autofocus: true, class: "form-control", placeholder: "City" %>
											    <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
											</div>				                    
						                  </div>
						                  
						                  <div class="form-group has-feedback">
						                    <label for="inputCity" class="col-sm-3 control-label">Province</label>
											<div class="col-sm-9">
											    <%= f.text_field :province, autofocus: true, class: "form-control", placeholder: "Province" %>
											    <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
											</div>				                    
						                  </div>
						                  <div style="height: 5px;"></div>
					                <!-- /.Personal Information -->
					                
					              </div>								              	
					                <!-- /.Permanent Residence Status -->
					              </div>				
							<!--   /.Permanent Residence Status Pane-->
			            </div>
		            
		            <!-- /.tab-content -->
		          </div>
		          <!-- /.nav-tabs-custom -->
		        </div>
		        <!-- /.col -->
		      </div>
		      <div class="row">
		        <div class="col-sm-6">
		          <div class="nav-tabs-custom">
		            	<div class="tab-content">
		            		<div class="active tab-pane" id="currentPassword">
						        <div class="form-group has-feedback">
						             <label for="inputPassword" class="col-sm-3 control-label">Password</label>
									 <div class="col-sm-9">
										<%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current password"%>
										<span class="glyphicon glyphicon-lock form-control-feedback"></span>
										<i>(We need your current password to apply your changes)</i>
									 </div>
								</div>
								<div class="form-group has-feedback">
									<div style="margin-left: 150px;">
										<%= f.submit "Update", class: "btn btn-danger"%>
									</div>
					                  
					            </div>	
		            		</div>
		            	</div>
		           </div>
				</div>
			  </div>			      
		      <!-- /.row -->
		      
		</section>
  <%end%>
<%end%>
