<%content_for :content_page do%>
<div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active">
              	<a href="#education" data-toggle="tab">
              		<h4>Job Descriptions/Roles</h4>
              	</a>
              </li>
            </ul>
            <div class="tab-content">
            	<ul class="timeline timeline-inverse">
	                  <li class="time-label">
	                  		<%if !@user_work_experience.nil?%>
	                        	<span class="bg-gray">
									<b>Company Name : <%=@user_work_experience.company_name%></b>
									<%="  (#{@user_work_experience.date_from} - #{UtilityHelper.display_as_present_if_null(@user_work_experience.date_to)})"%>
	                        	</span>
	                        <%end%>
	                  </li>            	
	             </ul>     
                          	
              <%if !@user_work_experience_roles.empty?%>
			   <div class="active tab-pane" id="education">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                <% @user_work_experience_roles.each do |user_work_experience_role| %>
	                
	                  <!-- timeline time label -->
	                  <li class="time-label">
	                        <span class="bg-red">
	                          <%= "#{user_work_experience_role.date_from} - #{UtilityHelper.display_as_present_if_null(user_work_experience_role.date_to)}" %>
	                        </span>
	                  </li>
	                  <!-- /.timeline-label -->
	                  <!-- timeline item -->
	                  <li>
	                    <i class="fa  fa-users bg-blue"></i>
	
	                    <div class="timeline-item">
	                      <span class="time">
	                      		<i class="fa fa-clock-o"></i> 
	                      		Project Name : <%=user_work_experience_role.project_name%>
	                      </span>
	
	                      <h3 class="timeline-header">
	                      	<a href="#"><%= user_work_experience_role.role %></a>
	                      </h3>
	
	                      <div class="timeline-body">
	                      		<b>Job Description :</b> <br />
								<%= user_work_experience_role.notes %>
	                      </div>
	                      <div class="timeline-footer">
	                      	<table>
	                      		<tr>
	                      			<td>
	                      				
					                  	<%= link_to controller:"resume",action:"show_skills_inventory",user_work_experience_role_id:user_work_experience_role.id do%>
				                      		<i class="btn btn-primary btn-xs">  Skills Inventory</i>
				                      	<%end%>	
	                      			</td>
	                      			<td style="width: 5px;"></td>

	                      		</tr>
	                      	</table>
	                      </div>
	                    </div>
	                  </li>
	                  <!-- END timeline item -->
	              <%end%>
	                  <li>
	                    <i class="fa fa-clock-o bg-gray"></i>
	                  </li>	              
	              </ul>  
              </div>              
              <%else%>
		              <div class="callout callout-danger">
		                <h5>No roles defined for this company.</h5>
		              </div>              
              <%end%>
              <!-- /.tab-pane -->
              
              <br />


              
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
<%end%>
