<%content_for :content_page do%>
<p id="notice"><%= notice %></p>
<div class="row">
        <div class="col-md-9">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Trainings Attended</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Training</th>
                  <th style="width: 130px">Date Started  </th>
                  <th style="width: 130px">Date Completed</th>
                  <th>Remarks</th>
                  <th></th>
                </tr>
                <%item_no = 1%>
                <% @user_trainings.each do |user_training| %>
	                <tr>
	                  <td><%=item_no%>.</td>
	                  <td><%= user_training.description %></td>
	                  <td>
	                  	  <%= user_training.date_started %>	
	                  </td>
	                  <td>
	                  	  <%= UtilityHelper.display_as_in_progress_if_null(user_training.date_completed) %>
	                  </td>
	                  <td>
	                  	<%if user_training.note == "Completed"%>
	                  		<span class="badge bg-green"><%= user_training.note %></span>
	                  	<%else%>
	                  		<span class="badge bg-red"><%= user_training.note %></span>
	                  	<%end%>
	                  </td>
	                  <td>
		                  	<%= link_to edit_user_training_path(user_training),class: "btn btn-primary btn-xs" do%>
	                      		<i class="fa fa-edit"></i>
	                      	<%end%>		                  		
	                  </td>
	                  <td>
	                      	<%= button_to( user_training, {:onclick => "return confirm('Do you want to remove this entry?')", :method => :delete, :remote => true,class: "btn btn-primary btn-xs"}) do %>
	                      		<i class="fa fa-trash-o"></i>
	                      	<%end%>	                  	
	                  </td>
	                </tr>
	                <%item_no += 1%>
	            <%end%>    
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
</div>        
<div class="row">
	<div class="col-md-6">
		<div style="margin-left: 20px;">
			<%= link_to 'New User Training', new_user_training_path %>
		</div>	
	</div>	
</div

<%end%>
