<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @user_training.description %>
</p>

<p>
  <strong>Date started:</strong>
  <%= @user_training.date_started %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @user_training.date_completed %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user_training.note %>
</p>

<%= link_to 'Edit', edit_user_training_path(@user_training) %> |
<%= link_to 'Back', user_trainings_path %>
