<%= form_with(model: user_education, local: true) do |form| %>
  <% if user_education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_education.errors.count, "error") %> prohibited this user_education from being saved:</h2>

      <ul>
      <% user_education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :education_type %>
    <%= form.text_field :education_type, id: :user_education_education_type %>
  </div>

  <div class="field">
    <%= form.label :institution %>
    <%= form.text_field :institution, id: :user_education_institution %>
  </div>

  <div class="field">
    <%= form.label :degree %>
    <%= form.text_field :degree, id: :user_education_degree %>
  </div>

  <div class="field">
    <%= form.label :program %>
    <%= form.text_field :program, id: :user_education_program %>
  </div>

  <div class="field">
    <%= form.label :specialization %>
    <%= form.text_field :specialization, id: :user_education_specialization %>
  </div>

  <div class="field">
    <%= form.label :date_started %>
    <%= form.date_select :date_started, id: :user_education_date_started %>
  </div>

  <div class="field">
    <%= form.label :date_completed %>
    <%= form.date_select :date_completed, id: :user_education_date_completed %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_field :remarks, id: :user_education_remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
