<%content_for :content_page do%>
<div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#education" data-toggle="tab"><h3>Education Timeline</h3></a></li>
            </ul>
            <div class="tab-content">
              
              <!-- /.tab-pane -->
              <div class="active tab-pane" id="education">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                <% @user_educations.each do |user_education| %>
	                
	                  <!-- timeline time label -->
	                  <li class="time-label">
	                        <span class="bg-red">
	                          <%= "#{user_education.date_started} - #{user_education.date_completed}" %>
	                        </span>
	                  </li>
	                  <!-- /.timeline-label -->
	                  <!-- timeline item -->
	                  <li>
	                    <i class="fa  fa-graduation-cap bg-blue"></i>
	
	                    <div class="timeline-item">
	                      <span class="time">
	                      		<i class="fa fa-clock-o"></i> 
	                      		<%= user_education.remarks   %>
	                      </span>
	
	                      <h3 class="timeline-header">
		                  	<%= link_to edit_user_education_path(user_education),class: "btn btn-primary btn-xs" do%>
	                      		<i class="fa fa-edit"></i>
	                      	<%end%>	                      		
	                      	<a href="#"><%= user_education.institution %></a>
	                      </h3>
	
	                      <div class="timeline-body">
								<b><%= user_education.degree %></b><br/>
								Program : <%= user_education.program %><br/>
								Specialization : <%= user_education.specialization %><br/>
	                      </div>
	                      <div class="timeline-footer">
	                      	<%= button_to( user_education, {:onclick => "return confirm('Do you want to remove this entry?')", :method => :delete, :remote => true,class: "btn btn-primary btn-xs"}) do %>
	                      		<i class="fa fa-trash-o">  Remove</i>
	                      	<%end%>
	                      </div>
	                    </div>
	                  </li>
	                  <!-- END timeline item -->

	                
	              <%end%>
	                  <li>
	                    <i class="fa fa-clock-o bg-gray"></i>
	                  </li>	              
	              </ul>  
              </div>
              <br />
				<%= link_to new_user_education_path, class: "btn btn-primary" do %>
				  <i class="fa fa-plus">  Add Educational Background </i>
				<% end %>              
              <!-- /.tab-pane -->

              
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
<%end%>
