<%content_for :content_page do%>
<div class="row">
        <div class="col-md-9">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Certifications and Licences</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            	<%if !@user_certifications.empty?%>
					  <table class="table table-bordered">
		                <tr>
		                  <th style="width: 10px">#</th>
		                  <th>Certification/Licence</th>
		                  <th style="width: 130px">Date Issued  </th>
		                  <th style="width: 130px">Expiry Date</th>
		                  <th>Remarks</th>
		                  <th></th>
		                </tr>
		                <%item_no = 1%>
		                <% @user_certifications.each do |user_certification| %>
			                <tr>
			                  <td><%=item_no%>.</td>
			                  <td><%= user_certification.description %></td>
			                  <td>
			                  	  <%= user_certification.date_issued %>	
			                  </td>
			                  <td>
			                  	  <%= user_certification.date_expiry %>
			                  </td>
			                  <td>
			                  	<%if user_certification.note == "Active"%>
			                  		<span class="badge bg-green"><%= user_certification.note %></span>
			                  	<%else%>
			                  		<span class="badge bg-red"><%= user_certification.note %></span>
			                  	<%end%>
			                  </td>
			                  <td>
				                  	<%= link_to edit_user_certification_path(user_certification),class: "btn btn-primary btn-xs" do%>
			                      		<i class="fa fa-edit"></i>
			                      	<%end%>		                  		
			                  </td>
			                  <td>
			                      	<%= button_to( user_certification, {:onclick => "return confirm('Do you want to remove this entry?')", :method => :delete, :remote => true,class: "btn btn-primary btn-xs"}) do %>
			                      		<i class="fa fa-trash-o"></i>
			                      	<%end%>	                  	
			                  </td>
			                </tr>
			                <%item_no += 1%>
			            <%end%>    
		              </table>            	
            	<%else%>
		              <div class="callout callout-danger">
		                <h5>No record of your Certifications/Licences found.</h5>
		              </div>              	
            	<%end%>	
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>        
<div class="row">
	<div class="col-md-6">
		<div style="margin-left: 20px;">
				<%= link_to new_user_certification_path, class: "btn btn-primary" do %>
				  <i class="fa fa-plus">  Add Certification/Licences </i>
				<% end %>  			
		</div>	
	</div>	
</div

<%end%>
