<%= form_with(model: user_work_experience, local: true) do |form| %>
  <% if user_work_experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_work_experience.errors.count, "error") %> prohibited this user_work_experience from being saved:</h2>

      <ul>
      <% user_work_experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :user_work_experience_company_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_work_experience_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :user_work_experience_city %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.text_field :province, id: :user_work_experience_province %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :user_work_experience_country %>
  </div>

  <div class="field">
    <%= form.label :industry %>
    <%= form.text_field :industry, id: :user_work_experience_industry %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :user_work_experience_position %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.date_select :date_from, id: :user_work_experience_date_from %>
  </div>

  <div class="field">
    <%= form.label :date_to %>
    <%= form.date_select :date_to, id: :user_work_experience_date_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
