<%= form_with(model: user_work_experience_role, local: true) do |form| %>
  <% if user_work_experience_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_work_experience_role.errors.count, "error") %> prohibited this user_work_experience_role from being saved:</h2>

      <ul>
      <% user_work_experience_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_work_experience_id, value: params[:user_work_experience_id]%> 	
  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :user_work_experience_role_role %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.date_select :date_from, id: :user_work_experience_role_date_from %>
  </div>

  <div class="field">
    <%= form.label :date_to %>
    <%= form.date_select :date_to, id: :user_work_experience_role_date_to %>
  </div>

  <div class="field">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, id: :user_work_experience_role_project_name %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :user_work_experience_role_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
